<!-- Modal -->

<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form #movieForm="ngForm" (ngSubmit)="addMovie(movieForm.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movieModalLabel" *ngIf="movieDetail; else addNew">
            Sửa Phim
            <ng-template #addNew>
              Thêm Phim Mới
            </ng-template>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label>Tên Phim</label>
                <input type="text" class="form-control" placeholder="Tên Phim" tabindex="1" name="TenPhim" ngModel
                  value="{{movieDetail.TenPhim}}">
              </div>
              <div class="form-group">
                <label>Ngày Khởi Chiếu</label>
                <input type="text" class="form-control" placeholder="Ngày Khởi Chiếu" tabindex="1" name="NgayKhoiChieu"
                  value="{{movieDetail.TenPhim}}" ngModel>
              </div>
            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label>Trailer Phim</label>
                <input type="text" class="form-control" placeholder="Trailer Phim" tabindex="1" name="Trailer"
                  value="{{movieDetail.TenPhim}}" ngModel>
              </div>


              <div class="form-group">
                <label>Hình Ảnh</label>
                <input type="text" class="form-control" placeholder="Hình Ảnh" tabindex="1" name="HinhAnh"
                  value="{{movieDetail.TenPhim}}" ngModel>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Mô Tả</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Mô Tả" tabindex="1"
                  name="MoTa" value="{{movieDetail.TenPhim}}" ngModel></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Mã Nhóm</label>
                <select class="form-control" name="MaNhom" ngModel>
                  <option value="GP10">GP10</option>
                  <option value="GP01">GP01</option>
                  <option value="GP02">GP02</option>
                  <option value="GP03">GP03</option>
                  <option value="GP04">GP04</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Đánh Giá</label>
                <select class="form-control" name="DanhGia" ngModel>
                  <option value="1">1 Sao</option>
                  <option value="2">2 Sao</option>
                  <option value="3">3 Sao</option>
                  <option value="4">4 Sao</option>
                  <option value="5">5 Sao</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i>
            Đóng</button>
        </div>
      </div>
    </form>
  </div>
</div>
