<app-home-carousel></app-home-carousel>

<section class="web-body">

  <section id="showtimes">
    <app-home-showtimes></app-home-showtimes>
  </section>

  <section id="other" class="container">
    <div class="row text-white">
      <div class="col-12">

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <section id="cinemas">
          <app-home-cinemas></app-home-cinemas>
        </section>

        <section id="news">
          <app-home-news></app-home-news>
        </section>

        <section id="application">
          <app-home-application></app-home-application>
        </section>
      </div>
    </div>
  </section>
</section>
