<div class="sidebar">
  <div class="box">
    <a href="#"><img src="https://i.imgur.com/K63cZJA.png" alt="Admin Avatar" class="img-fluid rounded-circle"></a>
    <p>Xin chào</p>
  </div>
  <div class="line"></div>

  <ul class="menu">
    <li><a routerLink="admin-dashboard"> <i class="fa fa-home"></i> Admin Dashboard</a></li>
    <li><a routerLink="movies-management"><i class="fa fa-home"></i> Quản Lý Phim</a></li>
    <li><a routerLink="users-management"><i class="fa fa-home"></i> Quản Lý Người Dùng</a></li>
  </ul>
</div>
