<div class="container">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <form #signUp="ngForm" (ngSubmit)="SignUp(signUp.value)">
        <h4 class="display-4">SIGN UP</h4>
        <div class="form-group">
          <label for="">Account:</label>
          <input
            type="text"
            class="form-control"
            ngModel
            name="TaiKhoan"
            #account="ngModel"
            required
            minlength="7"
            maxlength="15"
          />
          <div *ngIf="account.errors && (account.touched || account.dirty)">
            <div class="alert alert-danger" *ngIf="account.errors.required">
              Please enter your account !
            </div>
            <div
              class="alert alert-danger"
              *ngIf="account.errors.minlenght || account.errors.maxlenght"
            >
              Please enter at least 7 to 15 characters !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Password:</label>
          <input
            type="text"
            class="form-control"
            ngModel
            name="MatKhau"
            #password="ngModel"
            required
            minlength="6"
            maxlength="20"
          />
          <div *ngIf="password.errors && (password.touched || password.dirty)">
            <div class="alert alert-danger" *ngIf="password.errors.required">
              Please enter your password !
            </div>
            <div
              class="alert alert-danger"
              *ngIf="password.errors.minlenght || password.errors.maxlenght"
            >
              Please enter at least 7 to 20 characters !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Email:</label>
          <input
            type="email"
            class="form-control"
            ngModel
            name="Email"
            #email="ngModel"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div *ngIf="email.errors && (email.touched || email.dirty)">
            <div class="alert alert-danger" *ngIf="email.errors.required">
              Please enter your email !
            </div>
            <div class="alert alert-danger" *ngIf="email.errors.pattern">
              Please enter valid email !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Phone Number:</label>
          <input
            type="number"
            class="form-control"
            ngModel
            name="SoDT"
            #phone="ngModel"
            required
          />
          <div *ngIf="phone.errors && (phone.touched || phone.dirty)">
            <div class="alert alert-danger" *ngIf="phone.errors.required">
              Please enter your phone number !
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="">Types of User:</label>
          <input
            type="radio"
            value="KhachHang"
            ngModel
            name="MaLoaiNguoiDung"
          />Client
          <input
            type="radio"
            value="QuanTri"
            ngModel
            name="MaLoaiNguoiDung"
          />Admin
        </div> -->
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="signUp.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Account</th>
        <th>Password</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Type of users</th>
        <th>Management</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.TaiKhoan }}</td>
        <td>{{ user.MatKhau }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.SoDT }}</td>
        <td>{{ user.MaLoaiNguoiDung }}</td>
        <td>
          <button
            #btnUpdate
            [attr.data-taikhoan]="user.TaiKhoan"
            [attr.data-matkhau]="user.MatKhau"
            [attr.data-email]="user.Email"
            [attr.data-sodt]="user.SoDT"
            [attr.data-maloainguoidung]="user.MaLoaiNguoiDung"
            class="btn btn-success"
            (click)="Update(btnUpdate)"
          >
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
