<!-- <ng-container *ngIf="status; else ComingSoon"> -->

    <div class="card">
        <img class="card-img-top" [src]="movie.HinhAnh" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ movie.TenPhim }}</h4>
      
          <button class="btn btn-primary" (click)="SeeMovieDetail()">Details</button>
          <button
            class="btn btn-success"
            data-toggle="modal" 
            data-target="#modelId"
            (click)="QuickView()"
          >
            Quick View
          </button>
        </div>
      </div>

<!-- </ng-container> -->

<!-- <ng-template #ComingSoon>

    <div class="card">
        <img class="card-img-top" [src]="movie2.HinhAnh" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ movie2.TenPhim }}</h4>
      
          <button class="btn btn-primary" (click)="SeeMovieDetail()">Details</button>
          <button
            class="btn btn-success"
            data-toggle="modal" 
            data-target="#modelId"
            (click)="QuickView()"
          >
            Quick View
          </button>
        </div>
      </div>

</ng-template> -->





