<ng-container *ngIf="detailedMovie">
  <div class="container card  ">
    <div class="row">
      <div class="col-sm-6">
        <img [src]="detailedMovie.HinhAnh" alt="">
      </div>
      <div class="col-sm-6">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{detailedMovie.TenPhim}}</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>{{detailedMovie.MoTa}}</td>
            </tr>
            <tr>
              <td>Release Date</td>
              <td>{{detailedMovie.NgayKhoiChieu | date: "dd-MM-yy"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-5 ">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>Room</th>
              <th>Date</th>
              <th>Showtime</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of detailedMovie.LichChieu">
              <td scope="row">{{item.Rap.TenRap}}</td>
              <td>{{item.NgayChieuGioChieu | date: "dd-MM-yyyy"}}</td>
              <td>{{item.NgayChieuGioChieu | date: "hh:mm"}}</td>
              <td>
                <button class="btn btn-success" (click)="Booking(item.MaLichChieu)">Booking</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <iframe width="100%" height="800" [src]="detailedMovieTrailer | safe" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</ng-container>
