<div class="col-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">Tổng User</div>
    </div>
    <div class="panel-body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, minima laboriosam eius eos cupiditate
      perferendis sed, laudantium fugiat odit repudiandae nesciunt blanditiis officia corporis dolor. Commodi atque
      consequatur esse iusto?
    </div>
  </div>

</div>


<div class="col-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">Tổng User</div>
    </div>
    <div class="panel-body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, minima laboriosam eius eos cupiditate
      perferendis sed, laudantium fugiat odit repudiandae nesciunt blanditiis officia corporis dolor. Commodi atque
      consequatur esse iusto?
    </div>
  </div>

</div>


<div class="col-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">Tổng User</div>
    </div>
    <div class="panel-body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, minima laboriosam eius eos cupiditate
      perferendis sed, laudantium fugiat odit repudiandae nesciunt blanditiis officia corporis dolor. Commodi atque
      consequatur esse iusto?
    </div>
  </div>

</div>
