<div class="row">
  <div class="col-md-6 col-sm-12  mt-3">
    <div class="card">
      <img src="assets/tmp/sony_marvel.jpg" alt="Sony" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sony và Disney 'chia tay đòi Spider-Man' - Ai là người chịu thiệt?</h5>
        <p class="card-text">“Mối lương duyên” giữa Disney và Sony từ Captain America: Civil War (2016)</p>
        <a href="#" class="btn btn-success">Xem Thêm</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12  mt-3">
    <div class="card">
      <img src="assets/tmp/ve-nha-di-con.jpg" alt="Sony" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Hết phim 'Về nhà đi con', Bảo Hân than nhớ Bảo Thanh và nhận cái kết cực phũ</h5>
        <p class="card-text">Đoạn đối đáp qua lại của hai diễn viên chính 'Về nhà đi con' Bảo Hân và Bảo Thanh khiến
          nhiều người thích thú.
        </p>
        <a href="#" class="btn btn-success">Xem Thêm</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3 col-sm-12 mt-3">
    <div class="card">
      <img src="assets/tmp/bw.jpg" alt="Sony" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Black Widow sẽ khác hoàn toàn mọi phim siêu anh hùng trước đó của Marvel, sợ chưa!</h5>
        <p>&nbsp;</p>
        <a href="#" class="btn btn-success">Xem Thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 mt-3">
    <div class="card">
      <img src="assets/tmp/endgame.jpg" alt="Sony" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">ENDGAME tung loạt cảnh bị cắt nhưng vẫn giấu một của Black Widow, tại
          sao?</h5>
        <p>&nbsp;</p>
        <a href="#" class="btn btn-success">Xem Thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 mt-3">
    <div class="card">
      <img src="assets/tmp/eternal.jpg" alt="Sony" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">8 nhân vật bom tấn phase 4 The Eternals khiến Marvel "bắt về nuôi" bằng mọi giá</h5>
        <p>&nbsp;</p>
        <a href="#" class="btn btn-success">Xem Thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 mt-3">
    <div class="card">
      <img src="assets/tmp/got.jpg" alt="Sony" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Hoàng tử Game of Thrones hóa thân thành vị thần của tộc Eternals</h5>
        <p>&nbsp;</p>
        <a href="#" class="btn btn-success">Xem Thêm</a>
      </div>
    </div>
  </div>
</div>
